


### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders



### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

### Java ###


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz




### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

