<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>



<table>
<tr>
<th>Kysymys</th> 
<th>Kysymys type</th>
</tr>

<tr th:each="question : ${questions}">
	  	<td th:text="${question.kysymys}"></td> 
		<td th:text="${question.questiontype}"></td>	
</table>

	
<form th:object="${question}" th:action="@{/save}" action="#" method="post">
  Kysymys:<br>
  <input type="text" id="kysymys" th:field="*{kysymys}" name="kysymys"><br>
  Kysymys type:<br>
  <input type="text" id="questiontype" th:field="${question.questiontype}" name="questiontype"><p>
  <input type="submit" value="Lisaa kysymys"></input>
</form>



</body>
</html>