<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>REST API Documentation</title>
</head>
<body>

<h1>REST API Documentation</h1>

<h2>All Surveys</h2>
<h2>All Questions</h2>
<h2>All Answers</h2>
<h2>Survey By Id</h2>
<h2>Question By Id</h2>
<h2>Answer By Id</h2>
<h2>Survey With Questions</h2>
<h2>Question with answers</h2><br/>

<div>
<h2>All Surveys</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys/</p>
<p>API RESPONSE:</p>
<img alt="json" src="https://imgur.com/sKPdIj7.png"/>
</div>

<div>
<h2>All Questions</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/api/questions</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/questions/</p>
<p>API RESPONSE:</p>
<img alt="json" src="https://i.imgur.com/n39BTEQ.png"/>
</div>

<div>
<h2>All Answers</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/api/answers</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/answers/</p>
<p>API RESPONSE:</p>
<img alt="json" src=""/>
</div>

<div>
<h2>Survey By Id</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys/{surveyid}</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys/1</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys/2</p>
<p>API RESPONSE:</p>
<img alt="json" src="https://i.imgur.com/2wTuZaf.png"/>
</div>

<div>
<h2>Question By Id</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/api/questions/{questionid}</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/questions/1</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/questions/2</p>
<p>API RESPONSE:</p>
<img alt="json" src="https://i.imgur.com/s6atjav.png"/>
</div>

<div>
<h2>Answer By Id</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/api/answers/{answerid}</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/answers/1</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/answers/2</p>
<p>API RESPONSE:</p>
<img alt="json" src=""/>
</div>

<div>
<h2>Survey With Questions</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys/{surveyid}/questions</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys/1/questions</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/api/surveys/2/questions</p>
<p>API RESPONSE:</p>
<img alt="json" src=""/>
</div>

</body>
</html>