<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>REST API Documentation</title>
</head>
<body>

<h1>REST API Documentation</h1>

<h2>All Surveys</h2>
<h2>All Questions</h2>
<h2>All Answers</h2>
<h2>Survey By Id</h2>
<h2>Question By Id</h2>
<h2>Answer By Id</h2><br/>

<div>
<h2>All Surveys</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/surveys</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/surveys/</p>
<p>API RESPONSE:</p>
<p>[{"surveyid":1,"name":"Boss","questions":[{"id":1,"name":"beer","kysymys":"Olut, kalja, bisse vai bini?",
"questiontype":" ","answer":[]},{"id":3,"name":"kavereita","kysymys":"Menitkö tapahtumiin yksin vai kavereiden kanssa?",
"questiontype":" ","answer":[]},{"id":4,"name":"uusia","kysymys":"Tutustuitko uusiin ihmisiin?","questiontype":" ",
"answer":[]},{"id":5,"name":"bestest","kysymys":"Mistä Helgan järjestämästä tapahtumasta olet pitänyt eniten?",
"questiontype":" ","answer":[]}]}</p>
</div>

<div>
<h2>All Questions</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/questions</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/questions/</p>
<p>API RESPONSE:</p>
<p>[{"id":1,"name":"beer","kysymys":"Olut, kalja, bisse vai bini?","questiontype":" ","answer":[]},
{"id":2,"name":"howAreYou","kysymys":"Kuinka on päivä mennyt?",
"questiontype":" ","answer":[]},{"id":3,"name":"kavereita",
"kysymys":"Menitkö tapahtumiin yksin vai kavereiden kanssa?","questiontype":" ","answer":[]},
{"id":4,"name":"uusia","kysymys":"Tutustuitko uusiin ihmisiin?","questiontype":" ","answer":[]},
{"id":5,"name":"bestest","kysymys":"Mistä Helgan järjestämästä tapahtumasta olet pitänyt eniten?",
"questiontype":" ","answer":[]}]</p>
</div>

<div>
<h2>All Answers</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/answers</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/answers/</p>
<p>API RESPONSE:</p>
<p>[{"answerid":1,"vastaus":"Kyllä"}]</p>
</div>

<div>
<h2>Survey By Id</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/surveys/{surveyid}</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/surveys/1</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/surveys/2</p>
<p>API RESPONSE:</p>
<p>{"surveyid":1,"name":"Boss","questions":[{"id":1,"name":"uusia","kysymys":"Tutustuitko uusiin ihmisiin?",
"questiontype":" ","answer":[{"answerid":1,"vastaus":"Kyllä"}]},{"id":2,"name":"beer","kysymys":"Olut, kalja, bisse vai bini?",
"questiontype":" ","answer":[]},{"id":4,"name":"kavereita","kysymys":"Menitkö tapahtumiin yksin vai kavereiden kanssa?",
"questiontype":" ","answer":[]},{"id":5,"name":"bestest","kysymys":"Mistä Helgan järjestämästä tapahtumasta olet pitänyt eniten?",
"questiontype":" ","answer":[]}]}</p>
</div>

<div>
<h2>Question By Id</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/questions/{questionid}</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/questions/1</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/questions/2</p>
<p>API RESPONSE:</p>
<p>{"id":1,"name":"uusia","kysymys":"Tutustuitko uusiin ihmisiin?","questiontype":" ",
"answer":[{"answerid":1,"vastaus":"Kyllä"}]}</p>
</div>

<div>
<h2>Answer By Id</h2>
<p>API CALL:</p>
<p>proto304.haaga-helia.fi:8080/kyselypalvelu/answers/{answerid}</p>
<p>EXAMPLES OF API CALL:</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/answers/1</p>
<p>http://proto304.haaga-helia.fi:8080/kyselypalvelu/answers/2</p>
<p>API RESPONSE:</p>
<p>{"answerid":1,"vastaus":"Kyllä"}</p>
</div>


</body>
</html>